body {
  background-color: #f8f6f3;
  display: flex;
  flex-wrap: wrap;
}

main {
  margin-top: 45px; 
  margin-bottom: 25px; 
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 35px;
  align-items: center;
}
.card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  width: 273px;
  height: 333px;
  background-color: white;
}

.card img {
  width: 273px;
  height: 149;
}

.name-logo {
  width: 100%;
  height: 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 15px;
}

.logo img {
  width: 15px;
  height: 15px;
}
.name {
  width: 80%;
  font-size: 20px;
  padding-left: 15px;
}
.description {
  padding-left: 15px;
  font-size: 13px;
  font-family: sans-serif;
  color: #616161;
}
.price-add { 
  position: absolute;
  padding-bottom: 8px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.price {
  font-size: 23px;
  font-weight: 400;
}
.price span {
  text-decoration: line-through;
  font-size: 14px;
  color: #616161;
}
.add button {
  padding: 5px;
  border: 1px solid #6f3c2f;
  border-radius: 50px;
  width: 80px;
  font-size: 18px;
  font-family: bk;
  font-weight: 400;
  text-align: center;
  color: #6f3c2f;
}
